*{
    font-family: Arial bold;
}

body{
	margin: 0;
	padding: 0;
}

.titulo{
	height: 100px;
	background-color: #111111;
	color: #ffffff;
	text-align: center;
	line-height: 100px;
}

.informacoes{
	background-color: #282a27;
}

.informacoes_inter{
	width: 1000px;
	margin:auto;
	padding-top: 60px;
	color: #11ac12;
}

.formulario{
	text-align: center;
}